html{
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1{
  font-family: bevan;
  line-height: 1.5;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
}

ul{
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: normal;
  font-size: 1.125rem;
  color: #fff;
  list-style-type: none;
}

header{
  display: block;
  background-color: #79756f;
  margin-top: .3em;
  margin-bottom: .3em;
}
