html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dbd6cf;
  margin: auto;
}

h1 {
  font-family: Bevan, cursive;
  line-height: 1.5;
  font-weight: bold;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  margin: auto;
}

ul {
  text-align: center;
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: normal;
  font-size: 1.125rem;
  color: #fff;
  list-style-type: none;
}

header {
  display: block;
  background-color: #79756f;
  border-top: 5px solid #595652;
  border-bottom: 5px solid #595652;
}

.cards li {
  display: inline-block;
  padding: .75em;
  background-color: #713837;
  border-radius: 5px;
  margin: 0 auto;
}

nav .cards li:hover {
  background-color: #f33;
}
